__Importing the necessary libraries__
_we need to import the all the libraries we need to execute this tasks_

In [ ]:
import csv
import json
import xml.etree.ElementTree as ET
from collections import defaultdict
from pony.orm import Database, PrimaryKey, Required, Optional, db_session, commit, set_sql_debug

**Assinging varibles to the file path!**

In [15]:
xml_file_path = "user_data_23_4.xml"
csv_file_path = "user_data_23_4.csv"
json_file_path = "user_data_23_4.json"
txt_file_path = "user_data_23_4.txt"

**Reading and Parsing the csv file**:
_We define a function to read and parse the csv file and return the content of the csv. list [] to store the csv data that has been read and parsed_

In [16]:
def read_csv(csv_file_path):
# Initialize an empty list to store the data in csv file.
    data_csv = []
# Open the CSV file
    with open(csv_file_path, 'r') as csv_file:
        # Create a CSV reader object
        csv_reader = csv.DictReader(csv_file)
# Iterate over each row in the CSV file
        for row in csv_reader:
# Append each row to the data list
            data_csv.append(row)
# Return the collected data
    return data_csv
# Specify the path to the CSV file
csv_file_data= "user_data_23_4.csv"
 # Call the function to read the CSV file and store the data
csv_data = read_csv(csv_file_path)

**Reading and Parsing the json file** :
We define a function to read and parse the json file and return the content of the json file. 
 use a list [] and a  dictionary {} to store the json data that has been read and parsed.

In [17]:
def read_json(json_file_path):
# Initialize an empty list to store the data in json file
    data_json = []
# Open the JSON file
    with open(json_file_path, 'r') as json_file:
# Load JSON data from the file
        json_data = json.load(json_file)
# Iterate over each row in the JSON data
        for row in json_data:
# Extract debt information from the row
            debt = row.get('debt', '0')
# Convert debt to a dictionary if it's a string
            if type(debt) == str:
                debt = {"amount": debt, "time_period_years": 0}
# Create a dictionary for each row with specified keys
            json_dict = {
                'firstName': row['firstName'],
                'lastName': row['lastName'],
                'age': row['age'],
                'iban': row['iban'],
                'credit_card_number': row['credit_card_number'],
                'credit_card_security_code': row['credit_card_security_code'],
                'credit_card_start_date': row['credit_card_start_date'],
                'credit_card_end_date': row['credit_card_end_date'],
                'address_main': row['address_main'],
                'address_city': row['address_city'],
                'address_postcode': row['address_postcode'],
                'debit': debt,
            }
# Append the dictionary to the list
            data_json.append(json_dict)
# Return the collected list of dictionaries
    return data_json
# Specify the path to the JSON file
json_file_path = "user_data_23_4.json"

# Call the function to read the JSON file and store the data
json_data = read_json(json_file_path)

**Read and Parsing the XML file!** :

In [18]:
def read_xml(xml_file_path):
# Parse the XML file
    tree = ET.parse(xml_file_path)
    root = tree.getroot()
# Initialize an empty list to store the data
    data_xml = []
# Iterate through each 'user' element in the XML
    for user_element in root.findall('user'):
# Convert attributes of 'user' element into a dictionary
        xml_dict = dict(user_element.attrib)
# Check if 'dependants' attribute exists and replace with '0' if empty
        if not xml_dict.get('dependants'):
            xml_dict['dependants'] = '0'
# Append user dictionary to data list
        data_xml.append(xml_dict)
# Return the collected data
    return data_xml
# Specify the path to the XML file
xml_file_path = "user_data_23_4.xml"
# Call the function to read the XML file and store the data
xml_data = read_xml(xml_file_path)

**Merging All the Files(CSV, JSON and XML)!**

In [19]:
def all_merged_datasets(csv_data, json_data, xml_data):
    m_data = defaultdict(dict)
# Merged CSV data
    for record in csv_data:
        fn = (record.get('firstName') or record.get('First Name'),
              record.get('lastName') or record.get('Second Name'))
#fixing the firstName, LastName and Second Name discrepancies in the files as they appear to be different in each files.
        m_data[fn].update({
            'firstName': record.get('firstName'),
            'lastName': record.get('lastName'),
            'age': record.get('age') or record.get('Age (Years)'),
            'sex': record.get('sex') or record.get('Sex'),
            **{f: n for f, n in record.items() if f not in ['firstName', 'First Name', 'lastName', 'Second Name', 'age', 'Age (Years)', 'sex', 'Sex']}
        })
# Merged JSON data
    for record in json_data:
        fn = (record.get('firstName'), record.get('lastName'))
        m_data[fn].update({
            'firstName': record.get('firstName'),
            'lastName': record.get('lastName'),
            'age': record.get('age'),
            'sex': record.get('sex'),
            **{f: n for f, n in record.items() if f not in ['firstName', 'lastName', 'age', 'sex']}
        })
# Merged XML data
    for record in xml_data:
        fn = (record.get('firstName'), record.get('lastName'))
        m_data[fn].update({
            'firstName': record.get('firstName'),
            'lastName': record.get('lastName'),
            'age': record.get('age'),
            'sex': record.get('sex') or record.get('Sex'),
            **{f: n for f, n in record.items() if f not in ['firstName', 'lastName', 'age', 'sex', 'Sex']}
        })

# Convert merged records to a list
    merged_documents = list(m_data.values())
    return merged_documents

documents_unified = all_merged_datasets(csv_data, json_data, xml_data)

**Creating a DataBase with Pony.orm**

In [20]:
# Initialize a database object
db = Database()
# Define an entity named Userdata234unified representing a database table
class DocumentsUnified(db.Entity):
# Define a primary key column named 'id' that automatically increments
    id = PrimaryKey(int, auto=True)
# Define required columns for first name, last name
    firstName = Required(str)
    lastName = Required(str)
# Define optional columns for other attributes like age, sex, etc.
    age = Optional(int)
    sex = Optional(str)
    Vehicle_Make = Optional(str)
    Vehicle_Model = Optional(str)
    Vehicle_Year = Optional(int)
    Vehicle_Type = Optional(str)
    iban = Optional(str)
    credit_card_number = Optional(str)
    credit_card_security_code = Optional(str)
    credit_card_start_date = Optional(str)
    credit_card_end_date = Optional(str)
    address_main = Optional(str)
    address_city = Optional(str)
    address_postcode = Optional(str)
    retired = Optional(bool)
    dependants = Required(int)
    marital_status = Optional(str)
    salary = Optional(float)
    pension = Optional(float)
    company = Optional(str)
    commute_distance = Optional(float)

# Establish a connection to the MySQL database
# 'bind' method connects the database with specified parameters
db.bind(provider='mysql', host='europa.ashley.work', user='secbi87no', passwd='iE93F2@8EhM@1zhD&u9M@K', db='secbi87no', ssl_ca='./ca-cert.pem')
# Enable SQL debugging, which logs SQL queries executed
set_sql_debug(True)
# Generate mapping between Python classes and database tables
# 'generate_mapping' creates necessary tables if they don't exist
db.generate_mapping(create_tables=True)

GET NEW CONNECTION
RELEASE CONNECTION
GET CONNECTION FROM THE LOCAL POOL
SET foreign_key_checks = 0
SELECT `documentsunified`.`id`, `documentsunified`.`firstname`, `documentsunified`.`lastname`, `documentsunified`.`age`, `documentsunified`.`sex`, `documentsunified`.`vehicle_make`, `documentsunified`.`vehicle_model`, `documentsunified`.`vehicle_year`, `documentsunified`.`vehicle_type`, `documentsunified`.`iban`, `documentsunified`.`credit_card_number`, `documentsunified`.`credit_card_security_code`, `documentsunified`.`credit_card_start_date`, `documentsunified`.`credit_card_end_date`, `documentsunified`.`address_main`, `documentsunified`.`address_city`, `documentsunified`.`address_postcode`, `documentsunified`.`retired`, `documentsunified`.`dependants`, `documentsunified`.`marital_status`, `documentsunified`.`salary`, `documentsunified`.`pension`, `documentsunified`.`company`, `documentsunified`.`commute_distance`
FROM `documentsunified` `documentsunified`
WHERE 0 = 1

COMMIT
SET foreign_key_checks = 1
CLOSE CONNECTION

**Matching the records in the combined/merged files with that of the database created!**

In [23]:
# Decorator to define a database session
def insert_all_documents(combined_documents):
    try:
# Iterate through each item in the combined data
        for item in combined_documents:
# Create a new instance of DocumentsUnified entity and populate its attributes
            DocumentsUnified(
                firstName=item['firstName'],
                lastName=item['lastName'],
                age=int(item['age']),
                sex=item['sex'],
                Vehicle_Make=item['Vehicle Make'],
                Vehicle_Model=item['Vehicle Model'],
                Vehicle_Year=int(item['Vehicle Year']),
                Vehicle_Type=item['Vehicle Type'],
                iban=item['iban'],
                credit_card_number=item['credit_card_number'],
                credit_card_security_code=item['credit_card_security_code'],
                credit_card_start_date=item['credit_card_start_date'],
                credit_card_end_date=item['credit_card_end_date'],
                address_main=item['address_main'],
                address_city=item['address_city'],
                address_postcode=item['address_postcode'],
                retired=item['retired'].lower() == 'false',  # Convert to boolean
                dependants=int(item['dependants']),
                marital_status=item['marital_status'],
                salary=float(item['salary']),
                pension=float(item['pension']),
                company=item['company'],
                commute_distance=float(item['commute_distance'])
            )
# Commit the changes to the database
        commit()
        print("Data insertion successful.")
    except Exception as e:
# Handle any exceptions that occur during data insertion
        print(f"Error during data insertion: {e}")

# Call the insert_all_data function with the unified data
insert_all_documents(documents_unified)

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Leon', 'Smith', 48, 'Male', 'Mercedes-Benz', 'Astro Cargo', 2009, 'Pickup', 'GB05DRJP98363742599825', '2292406027303835', '750', '09/18', '01/22', '0 Shaw plains', "O'Neillshire", 'DY0 3SG', True, 2, 'married or civil partner', 65911.0, 0.0, 'Gilbert, Williams and Quinn', 15.68]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Margaret', 'Mason', 35, 'Female', 'Honda', 'Sable', 2015, 'Van/Minivan', 'GB60KAOM78304632971837', '30231894919500', '460', '05/23', '01/27', 'Studio 8 Craig stravenue', 'West Stephanie', 'WR2H 3NN', True, 1, 'married or civil partner', 19095.0, 0.0, 'Gibson PLC', 6.13]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Guy', 'Harrison', 26, 'Male', 'Chevrolet', 'S60', 2013, 'SUV', 'GB95ASFR17716818519894', '4470811972956349', '201', '10/17', '06/25', '694 Allan underpass', 'West Lucyshire', 'WR4M 2LP', True, 4, 'single', 22704.0, 0.0, 'Collins, Wade and Parker', 7.14]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Denise', 'Robinson', 30, 'Female', 'Ford', 'Tucson', 2002, 'Sedan', 'GB04BDET54533760891177', '6538381451448304', '787', '06/21', '02/23', 'Studio 3 Zoe plain', 'Lake Leighside', 'E17 1TN', True, 2, 'single', 93818.0, 0.0, 'Higgins-Wallis', 19.68]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Simon', 'Fox', 27, 'Male', 'Toyota', 'Dart', 2005, 'SUV', 'GB03NSDY21514645285507', '345302782495497', '320', '03/17', '04/32', '3 Farrell landing', 'East Nathanhaven', 'CT99 0XU', True, 0, 'married or civil partner', 46300.0, 0.0, 'Carey-Owens', 12.34]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Tom', 'Cooke', 69, 'Male', 'Hyundai', 'Liberty', 2019, 'Pickup', 'GB76CPZH28462200647918', '4508482106453342', '995', '12/19', '10/22', 'Flat 85 Francesca club', 'Donaldton', 'G28 1EQ', True, 2, 'single', 78099.0, 0.0, 'Parker PLC', 17.52]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Fiona', 'Marshall', 86, 'Female', 'Chevrolet', 'Pathfinder', 2006, 'SUV', 'GB49BDWW43070364283733', '4424742584764', '296', '01/19', '05/29', 'Flat 03k Zoe mountains', 'Mosstown', 'B3 9ZN', False, 2, 'married or civil partner', 27329.0, 29558.0, 'N/A', 0.0]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Mitchell', 'Davidson', 84, 'Male', 'Subaru', 'A8', 2006, 'Sedan, Hatchback, Wagon', 'GB24SZKG28634206052106', '676251959745', '376', '10/22', '04/29', "667 O'Brien land", 'Jonesbury', 'NP3 5ZP', False, 1, 'married or civil partner', 72088.0, 28111.0, 'N/A', 0.0]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Sam', 'Long', 83, 'Male', 'Mercedes-Benz', 'Azure T', 2018, 'Coupe', 'GB16OLBW26880983186148', '2245031471396677', '006', '05/19', '02/26', '4 Vincent drive', 'Stewartton', 'NP5 2SJ', False, 2, 'single', 58511.0, 26792.0, 'N/A', 0.0]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Sean', 'Perry', 87, 'Male', 'Ford', '1500 Regular Cab', 2010, 'SUV', 'GB24TVGV89818186516727', '3571761306387507', '5454', '01/23', '02/25', '54 Victor walks', 'Lake Roy', 'EX27 3XW', False, 2, 'married or civil partner', 72515.0, 32420.0, 'N/A', 0.0]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Jacob', 'Bennett', 66, 'Male', 'Mercedes-Benz', 'Impreza', 1999, 'SUV', 'GB37OBOT69175746358471', '4993777051811200', '244', '03/19', '04/20', '0 Barnes club', 'New Jennachester', 'DN5R 9DX', True, 1, 'single', 92862.0, 0.0, 'Smith, Osborne and Hammond', 19.55]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Lydia', 'Henderson', 62, 'Female', 'Nissan', 'GLC Coupe', 2006, 'SUV', 'GB49YWRF00584915087635', '3512212241942610', '492', '12/18', '03/23', 'Flat 4 Dominic courts', 'Port Joshview', 'B55 5BB', True, 1, 'divorced', 90083.0, 0.0, 'Akhtar, Jones and Morris', 19.18]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Nathan', 'Slater', 81, 'Male', 'Cadillac', 'RLX', 1992, 'Sedan', 'GB07LTNZ30627642850580', '3577861995095736', '939', '10/20', '06/29', 'Flat 71U Elizabeth mission', 'Ritafurt', 'S74 4AJ', False, 2, 'divorced', 56794.0, 28402.0, 'N/A', 0.0]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Claire', 'Russell', 41, 'Female', 'Mercedes-Benz', 'Voyager', 1992, 'Van/Minivan', 'GB84JZQA63843285464433', '2288206984756595', '918', '02/19', '11/31', 'Studio 1 Williams springs', 'Port Jack', 'M54 6EA', True, 2, 'married or civil partner', 51199.0, 0.0, 'Yates Inc', 13.23]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Katy', 'Green', 78, 'Female', 'Volvo', 'Galant', 1992, 'Wagon', 'GB83MMRZ64018472597921', '213187531453197', '8990', '12/14', '12/33', '939 Gould well', 'South Scott', 'S3 6HS', True, 2, 'married or civil partner', 47424.0, 0.0, 'James, Richardson and Cooke', 12.54]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Duncan', 'Moore', 67, 'Male', 'Volkswagen', 'SLK-Class', 1997, 'Sedan', 'GB35IJYJ72719118013461', '2705462381301924', '274', '06/16', '11/29', '5 Lydia parks', 'Lesleymouth', 'E87 9TP', True, 2, 'married or civil partner', 67814.0, 0.0, 'Griffiths Group', 15.98]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Abbie', 'Miller', 73, 'Female', 'Dodge', 'del Sol', 2002, 'Sedan', 'GB20NEGF61781527471339', '503870401257', '653', '07/15', '08/27', 'Studio 61 Kayleigh drive', 'Lake Victoriaville', 'LS0M 9LG', True, 2, 'single', 38800.0, 0.0, 'Lewis-Gibbons', 10.87]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Amber', 'Hobbs', 21, 'Female', 'Toyota', 'Rodeo', 1999, 'Van/Minivan', 'GB56QXRS20758368749724', '4108286226488071625', '254', '12/17', '11/26', 'Flat 14n Emily passage', 'Clareland', 'SS66 4AX', True, 2, 'married or civil partner', 26372.0, 0.0, 'Andrews, Collins and Fraser', 8.08]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Samuel', 'Daniels', 47, 'Male', 'Volvo', 'Clarity Electric', 2016, 'SUV', 'GB69EDMQ96008466449188', '676170955675', '210', '07/18', '04/24', 'Flat 1 Taylor ramp', 'Lake Eileen', 'FK92 5YA', True, 2, 'married or civil partner', 56218.0, 0.0, 'Hughes Group', 14.1]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Louise', 'Parry', 66, 'Female', 'Ford', 'Ram 1500 Quad Cab', 2003, 'Sedan, Coupe', 'GB41NNRI52449172646036', '568711564332', '160', '11/19', '07/20', 'Flat 7 Amelia plaza', 'New Michellebury', 'N75 6YP', True, 1, 'married or civil partner', 53080.0, 0.0, 'Willis LLC', 13.56]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['June', 'Macdonald', 67, 'Female', 'Cadillac', 'Camaro', 2016, 'Sedan, Hatchback', 'GB80ZPSW88048103878430', '346398133417692', '777', '05/15', '12/20', 'Studio 92s Kim light', 'New Martyn', 'E40 3ZS', True, 2, 'single', 90360.0, 0.0, 'Allen, Gill and Lewis', 19.22]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Eileen', 'Lee', 55, 'Female', 'Volkswagen', 'Grand Cherokee', 2015, 'Sedan', 'GB44CJCO44546702771777', '3542537199382227', '639', '07/18', '04/33', 'Flat 3 Martin greens', 'New Georgina', 'W3 5NS', True, 2, 'married or civil partner', 25370.0, 0.0, 'Gregory, Martin and Thompson', 7.83]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Sian', 'Mason', 72, 'Female', 'Toyota', 'Armada', 1993, 'Hatchback, Convertible', 'GB76POLE49461500631985', '213197134449039', '945', '02/19', '06/20', '981 Lindsey cove', 'North Maureen', 'E35 9FB', True, 1, 'single', 94647.0, 0.0, 'Savage Group', 19.79]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Brett', 'Mason', 89, 'Male', 'Mercedes-Benz', 'Neon', 2010, 'Sedan', 'GB67IITC61448014947824', '4463563861248374', '517', '01/15', '02/15', 'Studio 72 Harding throughway', 'West Melanieport', 'N51 3NY', False, 2, 'single', 40299.0, 14849.0, 'N/A', 0.0]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Joan', 'Clarke', 83, 'Female', 'Audi', 'Fusion', 2008, 'Van/Minivan', 'GB86YOJQ80595094031570', '213118805752212', '586', '04/21', '09/23', 'Flat 84R Turner extensions', 'Keithview', 'BR5 4NN', False, 3, 'married or civil partner', 27713.0, 24298.0, 'N/A', 0.0]

INSERT INTO `documentsunified` (`firstname`, `lastname`, `age`, `sex`, `vehicle_make`, `vehicle_model`, `vehicle_year`, `vehicle_type`, `iban`, `credit_card_number`, `credit_card_security_code`, `credit_card_start_date`, `credit_card_end_date`, `address_main`, `address_city`, `address_postcode`, `retired`, `dependants`, `marital_status`, `salary`, `pension`, `company`, `commute_distance`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
['Lynne', 'Harris', 90, 'Female', 'Chevrolet', 'California', 2011, 'Coupe, Convertible', 'GB64ILZL41206899433806', '502073610037', '488', '09/21', '05/31', 'Studio 5 Jennings center', 'Jamesfort', 'HS0 5WJ', False, 1, 'married or civil partner', 55155.0, 33451.0, 'N/A', 0.0]


In [24]:
txt_file_path = "user_data_23_4.txt"
# Open the file using 'with open' statement
with open(txt_file_path, 'r') as file:
# Read the contents of the file
    file_contents = file.read()
# Print the contents of the file
print(file_contents)

"Valerie Ellis e-mailed in overnight (Full details in Ticket #1839). During account creation something went wrong and their security code is wrong on their billing information. Bank is rejecting any payment until it's corrected. They're not sure what happened, but said to try "762". Can you please action this and try re-bill the client? Let me know if there's any further issues with it. Thanks"
"Congratulations on the promotion West! We wouldn't have survived through the pandemic without you and your team. As a token of our appreciation, we've given you a Â£2100 salary bump. This will take effect as of next month's payroll. At Williams-Wheeler we value the care and work you put in. See you on Monday Charlie, enjoy!"
"Happy Birthday Mr Charlie Short! You're 52 today. Our latest offers will be sure to get you into the party spirit!"
"Hannah, the pension policy has changed slightly since the meeting last week. I know you've just finished putting through all the changes, but I need you to look at Mr Martin's file. We'll need to  modify it by adding another 0.15% on top of the existing Â£22896. Drop me a message when you've done this please, it's quite urgent."

**Querying my sql to generate information of a customers from the text file**

In [28]:
# Define a function to update the credit card security code
def update_credit_card_security_code():
    try:
# Retrieve the record for user with ID 625 from the Userdata234unified entity
        valerie_ellis = DocumentsUnified.get(id=625)
# Check if the record exists
        if valerie_ellis:
# Update the credit card security code for the user
            valerie_ellis.credit_card_security_code = '726'
# Commit the changes to the database
            commit()
            print("Credit card security code updated successfully.")
        else:
# Print a message if the user is not found
            print("User not found.")
    except Exception as e:
# Handle any exceptions that occur during the update process
        print(f"Error during update: {e}")

# Call the update_credit_card_security_code function to execute the update operation
update_credit_card_security_code()

UPDATE `documentsunified`
SET `credit_card_security_code` = %s
WHERE `id` = %s
  AND `firstname` = %s
  AND `lastname` = %s
  AND `age` = %s
  AND `sex` = %s
  AND `vehicle_make` = %s
  AND `vehicle_model` = %s
  AND `vehicle_year` = %s
  AND `vehicle_type` = %s
  AND `iban` = %s
  AND `credit_card_number` = %s
  AND `credit_card_security_code` = %s
  AND `credit_card_start_date` = %s
  AND `credit_card_end_date` = %s
  AND `address_main` = %s
  AND `address_city` = %s
  AND `address_postcode` = %s
  AND `retired` = %s
  AND `dependants` = %s
  AND `marital_status` = %s
  AND `company` = %s
['726', 625, 'Valerie', 'Ellis', 55, 'Female', 'Toyota', 'Impala', 2001, 'Sedan', 'GB95UFRA89299972043981', '4460612841317016', '276', '01/22', '03/27', '65 Frank rue', 'New Leanne', 'NP57 8ZL', True, 2, 'married or civil partner', 'Carter PLC']

COMMIT
Credit card security code updated successfully.

In [35]:
# Define a function to update Charlie West's record
def change_charlie_west_record():
    try:
# Retrieve the record for Charlie West from the Userdata234unified entity
        update_charlie_record = DocumentsUnified.get(id=62)
# Check if the record exists
        if update_record:
# Increase Charlie West's salary by 2100
            update_charlie_record.salary += 2100
# Commit the changes to the database
            commit()
            print("Increment successful.")
        else:
# Print a message if the user is not found
            print("User not found.")
    except Exception as e:
# Handle any exceptions that occur during the update process
        print(f"Error during update: {e}")
# Call the update_charlie_west_record function to execute the update operation
change_charlie_west_record()

UPDATE `documentsunified`
SET `pension` = %s
WHERE `id` = %s
  AND `firstname` = %s
  AND `lastname` = %s
  AND `age` = %s
  AND `sex` = %s
  AND `vehicle_make` = %s
  AND `vehicle_model` = %s
  AND `vehicle_year` = %s
  AND `vehicle_type` = %s
  AND `iban` = %s
  AND `credit_card_number` = %s
  AND `credit_card_security_code` = %s
  AND `credit_card_start_date` = %s
  AND `credit_card_end_date` = %s
  AND `address_main` = %s
  AND `address_city` = %s
  AND `address_postcode` = %s
  AND `retired` = %s
  AND `dependants` = %s
  AND `marital_status` = %s
  AND `company` = %s
[0.0, 986, 'Louis', 'Leonard', 37, 'Male', 'Hyundai', 'Silverado (Classic) 1500 HD Crew Cab', 2006, 'Van/Minivan', 'GB83GJEO03803888176852', '4300668320666867085', '6083', '03/17', '12/25', '4 Henry points', 'West Rhysfurt', 'NW0V 5QZ', True, 2, 'married or civil partner', 'Gordon, Carey and Edwards']

UPDATE `documentsunified`
SET `salary` = %s
WHERE `id` = %s
  AND `firstname` = %s
  AND `lastname` = %s
  AND `age` = %s
  AND `sex` = %s
  AND `vehicle_make` = %s
  AND `vehicle_model` = %s
  AND `vehicle_year` = %s
  AND `vehicle_type` = %s
  AND `iban` = %s
  AND `credit_card_number` = %s
  AND `credit_card_security_code` = %s
  AND `credit_card_start_date` = %s
  AND `credit_card_end_date` = %s
  AND `address_main` = %s
  AND `address_city` = %s
  AND `address_postcode` = %s
  AND `retired` = %s
  AND `dependants` = %s
  AND `marital_status` = %s
  AND `company` = %s
[85404.0, 62, 'Charlie', 'West', 36, 'Male', 'Daihatsu', 'Passat', 2010, 'Pickup', 'GB18JMPE02560432612101', '4605313688404669919', '112', '09/22', '07/23', 'Flat 9 Harrison underpass', 'East Alexandrachester', 'WR17 4GR', True, 2, 'single', 'Williams-Wheeler']

COMMIT
Increment successful.

In [42]:
def update_martin_file():   
# Retrieve the record for Martin Christian with ID 986 from the database
    update_martin_record = DocumentsUnified.get(id='986')
    try:      
# Check if the record exists
        if update_martin_record:
# Existing pension amount stored for Mr. Martin Christian
            existing_pension = update_record.pension
# Adding another 0.15% to the existing pension of Martin Christian
            new_percentage = 0.15
            new_amount = existing_pension * (new_percentage / 100)
# Updating the pension amount of Martin Christian in the Database          
            update_record.pension += new_amount
# Commit the changes to the database
            commit()
            print("Increment Pension successful.")
        else:
# Print a message if the user is not found
            print("User not found.")
    except Exception as e:
# Handle any exceptions that occur during the update process
        print(f"Error during update: {e}")
# Call the update_charlie_west_record function to execute the update operation
update_martin_file()

UPDATE `documentsunified`
SET `pension` = %s
WHERE `id` = %s
  AND `firstname` = %s
  AND `lastname` = %s
  AND `age` = %s
  AND `sex` = %s
  AND `vehicle_make` = %s
  AND `vehicle_model` = %s
  AND `vehicle_year` = %s
  AND `vehicle_type` = %s
  AND `iban` = %s
  AND `credit_card_number` = %s
  AND `credit_card_security_code` = %s
  AND `credit_card_start_date` = %s
  AND `credit_card_end_date` = %s
  AND `address_main` = %s
  AND `address_city` = %s
  AND `address_postcode` = %s
  AND `retired` = %s
  AND `dependants` = %s
  AND `marital_status` = %s
  AND `company` = %s
[0.0, 986, 'Louis', 'Leonard', 37, 'Male', 'Hyundai', 'Silverado (Classic) 1500 HD Crew Cab', 2006, 'Van/Minivan', 'GB83GJEO03803888176852', '4300668320666867085', '6083', '03/17', '12/25', '4 Henry points', 'West Rhysfurt', 'NW0V 5QZ', True, 2, 'married or civil partner', 'Gordon, Carey and Edwards']

COMMIT
Increment Pension successful.